spring:
  application:
    name: activity-service

  mongodb:
      ***REMOVED***
      database: activitydb
server:
  port: 8082

eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8761/eureka/

